#game {
  display: block;
  margin: auto;
  background-color: #000;
}

#scoreboard {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

#high-score {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
