body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
}

canvas {
  border: 1px solid #FFFFFF;
}

canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
}
